ArchivesSnake~=0.10.1
astroid~=4.1.2
attrs~=26.1.0
certifi~=2026.4.22
colorama~=0.4.6
boltons~=25.0.0
charset-normalizer~=3.4.1
dill~=0.4.0
et_xmlfile~=2.0.0
idna~=3.10
isort~=8.0.1
loguru~=0.7.3
jsonlines~=4.0.0
mccabe~=0.7.0
more-itertools~=11.0.2
mysql~=0.0.3
mysqlclient~=2.2.7
mysql-connector-python~=9.6.0
numpy~=2.4.0
openpyxl~=3.1.5
pandas~=3.0.0
pathlib~=1.0.1
pip~=26.0.1
platformdirs~=4.9.6
pylint~=4.0.4
pyjwt~=2.12.1
python-dateutil~=2.9.0.post0
python-dotenv~=1.2.1
pytz~=2026.1.post1
PyYAML~=6.0.2
RapidFuzz~=3.14.0
requests~=2.33.1
six~=1.17.0
structlog~=25.5.0
tomlkit~=0.14.0
urllib3~=2.6.2
