ArchivesSnake~=0.10.1
argparse~=1.4.0
astroid~=3.3.9
attrs~=25.3.0
certifi~=2025.8.3
colorama~=0.4.6
boltons~=25.0.0
charset-normalizer~=3.4.1
dill~=0.4.0
et_xmlfile~=2.0.0
idna~=3.10
isort~=6.0.1
loguru~=0.7.2
jsonlines~=4.0.0
mccabe~=0.7.0
more-itertools~=10.8.0
mysql~=0.0.3
mysqlclient~=2.2.7
mysql-connector-python~=9.4.0
numpy~=2.3.2
openpyxl~=3.1.5
pandas~=2.3.2
pathlib~=1.0.1
pip~=25.2
platformdirs~=4.4.0
pylint~=3.3.1
python-dateutil~=2.9.0.post0
python-dotenv>=1.0
pytz~=2025.1
PyYAML~=6.0.2
RapidFuzz~=3.14.0
requests~=2.32.3
six~=1.17.0
structlog~=25.4.0
tomlkit~=0.13.2
urllib3~=2.5.0
