interactions:
- request:
    body: '{"lock_version": 0, "digital_object_id": "1234567", "title": "Test digital
      object", "publish": false, "jsonmodel_type": "digital_object", "file_versions":
      [{"lock_version": 0, "file_uri": "https://mads.si.edu/mads/id/NASM-Young_interview_transcript_mwaohi_NASM.2020.0005",
      "jsonmodel_type": "file_version"}], "uri": "/repositories/2/digital_objects/1",
      "repository": {"ref": "/repositories/2"}}'
    headers:
      Content-Type:
      - application/json
      X-ArchivesSpace-Session:
      - '[REDACTED]'
    method: POST
    uri: http://localhost:4567/repositories/2/digital_objects/600
  response:
    body:
      string: '{"error":"DigitalObject not found"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
