interactions:
- request:
    body: password=[REDACTED]&expiring=False
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.cnn.com/users/garbage/login
  response:
    body:
      string: "\n<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<!DOCTYPE html PUBLIC
        \"-//W3C//DTD XHTML 1.0 Strict//EN\"\n \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd\">\n<html>\n
        \ <head>\n    <title>405 Method Not Allowed</title>\n  </head>\n  <body>\n
        \   <h1>Error 405 Method Not Allowed</h1>\n    <p>Method Not Allowed</p>\n
        \   <h3>Error 54113</h3>\n    <p>Details: cache-iad-kcgs7200144-IAD 1772236856
        3874063794</p>\n    <hr>\n    <p>Varnish cache server</p>\n  </body>\n</html>\n"
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Retry-After:
      - '0'
      allow:
      - GET, HEAD, POST, PUT, DELETE, OPTIONS
    status:
      code: 405
      message: Method Not Allowed
version: 1
