name: Codescan
on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'xslt_scripts/**'
      - 'sql_scripts/**'
  push:
    paths-ignore:
      - 'xslt_scripts/**'
      - 'sql_scripts/**'

jobs:
  lint:
    runs-on: ubuntu-latest 
    if: ${{ !contains(github.event.head_commit.message, '[codescan skip]') }}
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
    - run: pip install ruff
    - run: ruff check .
